@model ProductViewModel

@if (Model != null && Model.Product != null)
{
	var defaultImageURL = "/Content/images/system/placeholder-image.png";

	var imageURL = string.IsNullOrEmpty(Model.Product.ImageURL) ? defaultImageURL : Model.Product.ImageURL;
<!-- Page title -->
<div class="page-title parallax parallax1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-title-heading">
					<h1 class="title">
						@Model.Product.Name
					</h1>
				</div><!-- /.page-title-heading -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row main-shop shop-detail">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="wrap-flexslider">
					<div class="inner">
						<div class="flexslider style-1 has-relative">
							<ul class="slides">
								<li data-thumb="@imageURL">
									<img src="@imageURL" alt="Image">
									<div class="flat-icon style-1">
										<a href="@imageURL" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
									</div>
								</li>
								@*<li data-thumb="images/shop/sh-detail/thumb-detail-02.jpg">
									<img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
									<div class="flat-icon style-1">
										<a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
									</div>
								</li>
								<li data-thumb="images/shop/sh-detail/thumb-detail-03.jpg">
									<img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
									<div class="flat-icon style-1">
										<a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
									</div>
								</li>
								<li data-thumb="images/shop/sh-detail/thumb-detail-04.jpg">
									<img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
									<div class="flat-icon style-1">
										<a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
									</div>
								</li>*@
							</ul>
						</div><!-- /.flexslider -->
					</div>
				</div>
			</div><!-- /.col-md-6 -->

			<div class="col-md-6">
				<div class="product-detail">
					<div class="inner">
						<div class="content-detail">
							<h2 class="product-title">
								@Model.Product.Name
							</h2>
							@*<div class="flat-star style-1">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-o"></i>
								<i class="fa fa-star-half-o"></i>
								<span>(1)</span>
							</div>*@
							<p>
								@Model.Product.Description
							</p>
							<div class="price">
								<ins>
									<span class="amount">
										$ @Model.Product.Price
									</span>
								</ins>
							</div>
							<div class="product-quantity">
								<div class="quantity">
									<input type="text" value="1" name="quantity-number" class="quantity-number">
									<span class="inc quantity-button">+</span>
									<span class="dec quantity-button">-</span>
								</div>
								<div class="add-to-cart">
									<a href="#">ADD TO CART</a>
								</div>
								<div class="box-like">
									<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
								</div>
							</div>
							<div class="product-categories">
								<span>Categories: </span><a href="#">@Model.Product.Category.Name</a>
							</div>
							<ul class="flat-socials">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div><!-- /.product-detail -->
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-row -->

<section class="flat-row shop-detail-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-tabs style-1 has-border">
					<div class="inner">
						<ul class="menu-tab">
							<li class="active">Reviews</li>
						</ul>
						<div class="content-tab">
							<div class="content-inner">
								<div class="inner max-width-83 padding-top-33">
									<ol class="review-list">
										<li class="review">
											<div class="thumb">
												<img src="images/avatar-1.png" alt="Image">
											</div>
											<div class="text-wrap">
												<div class="review-meta">
													<h5 class="name">Sophia Rosla</h5>
													<div class="flat-star style-1">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-half-o"></i>
													</div>
												</div>
												<div class="review-text">
													<p>I wanted to thank you so much for the rug we have received it really is beautiful and expertly made. I will be recommending you to all our friends.</p>
												</div>
											</div>
										</li><!--  /.review    -->
										<li class="review">
											<div class="thumb">
												<img src="images/avatar.png" alt="Image">
											</div>
											<div class="text-wrap">
												<div class="review-meta">
													<h5 class="name">Jayne Haughton</h5>
													<div class="flat-star style-1">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-half-o"></i>
													</div>
												</div>
												<div class="review-text">
													<p class="line-height-28">Customer service is very important part of the buying experience to us and we must say that we have found Utility's to be impressive - we will certainly look to buy again in future.</p>
												</div>
											</div>
										</li><!--  /.review    -->
									</ol><!-- /.review-list -->
									<div class="comment-respond review-respond" id="respond">
										<div class="comment-reply-title margin-bottom-14">
											<h5>Write a review</h5>
											<p>Your email address will not be published. Required fields are marked *</p>
										</div>
										<form novalidate="" class="comment-form review-form" id="commentform" method="post" action="#">
											<p class="flat-star style-2">
												<label>Rating*:</label>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</p>
											<p class="comment-form-comment">
												<label>Review*</label>
												<textarea class="" tabindex="4" name="comment" required> </textarea>
											</p>
											<p class="comment-name">
												<label>Name*</label>
												<input type="text" aria-required="true" size="30" value="" name="name" id="name">
											</p>
											<p class="comment-email">
												<label>Email*</label>
												<input type="email" size="30" value="" name="email" id="email">
											</p>
											<p class="comment-form-notify clearfix">
												<input type="checkbox" name="check-notify" id="check-notify"> <label for="check-notify">Notify me of new posts by email</label>
											</p>
											<p class="form-submit">
												<button class="comment-submit">Submit</button>
											</p>
										</form>
									</div><!-- /.comment-respond -->
								</div>
							</div><!-- /.content-inner -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /.shop-detail-content -->


	<section class="flat-row shop-related">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-section margin-bottom-55">
						<h2 class="title">Related Products</h2>
					</div>

					@{Html.RenderAction("Products", "Widgets", new { isLatestProducts = false, CategoryID = Model.Product.Category.ID });}

				</div>
			</div><!-- /.row -->
		</div>
	</section>

}